body{
	background: #eee;
}
#frm{
	border: solid red 1px;
	width: 29%;
	border-radius: 10px;
	margin: 100px auto;
	background: light blue;
	padding: 50px;
	
}
#btn{
	color: #fff;
	background: #337ab7;
	padding: 5px;
	margin-left: 69%;
}